@model List<test2.Models.DoctorModel.BaseViewModel>

@{
    Layout = "~/Views/Shared/Layout_Doctor.cshtml";
}
<div class="container mx-auto mt-10 p-5">
    <h2 class="text-2xl text-blue-500 font-bold mb-4">
        Patients List for Doctor ID: @ViewData["DoctorId"]
    </h2>

    <form class="flex items-center justify-center max-w-sm mx-auto mb-5">
        <button type="button" class="text-white px-4 py-2 flex items-center bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm text-center me-2 mb-2">
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4H1m3 4H1m3 4H1m3 4H1m6.071.286a3.429 3.429 0 1 1 6.858 0M4 1h12a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1Zm9 6.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
            </svg>
            <h1 class="px-1">@Model.Count()</h1>
            <h1> total</h1>
        </button>
    </form>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th class="px-6 py-3">Name</th>
                    <th class="px-6 py-3">Phone</th>
                    <th class="px-6 py-3">Email</th>
                    <th class="px-6 py-3">Date Booking</th>
                    <th class="px-6 py-3">DoB</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        var patient = item.patientView;

                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                @patient.Name
                            </th>
                            <td class="px-6 py-4">@patient.Phone</td>
                            <td class="px-6 py-4">@patient.Email</td>
                            <td class="px-6 py-4">@patient.DateOrder?.ToString("yyyy-MM-dd HH:mm")</td>
                            <td class="px-6 py-4">@patient.Dob?.ToString("yyyy-MM-dd")</td>
                            <td class="px-6 py-4">
                                <a asp-controller="Doctor"
                                   asp-action="ViewPatientDetail"
                                   asp-route-pid="@patient.Pid"
                                   asp-route-tab="profile"
                                   class="font-medium text-blue-600 hover:underline">
                                    View
                                </a>


                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center py-4">No patients found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>