@model IEnumerable<test2.Models.StaffModel.ServiceAppointmentModel>

@{
    Layout = "Layout_staff";
    ViewData["Title"] = "Service Appointment List from Staff";
}


<div class="container-fluid">
    <div class="layout-specing">
        <div class="row">
            <div class="col-md-5 row">
                <div class="col-md-4">
                    <h5 class="mb-0">Reservations</h5>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <!-- Form tìm kiếm theo tên dịch vụ -->
                    <form action="serviceappointlist" method="GET">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <label class="form-label"></label>
                                <input type="text" name="search_service" class="form-control" value="@ViewBag.SearchService" placeholder="Enter service name..." />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary mt-4">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    <!-- Form lọc theo trạng thái -->
                    <form action="serviceappointlist" method="GET">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <label class="form-label">Filter by Status</label>
                                <select name="status" class="form-select">
                                    <option value="all" selected>All</option>
                                    <option value="Complete">Complete</option>
                                    <option value="Assigned">Assigned</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Cancelled">Cancelled</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary mt-4">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-4">
                <div class="table-responsive bg-white shadow rounded">
                    <table class="table mb-0 table-center">
                        <thead>
                            <tr>
                                <th class="border-bottom p-3">ID
                                    <a asp-action="ServiceAppointList" asp-route-sortColumn="ServiceId" asp-route-sortDirection="@((ViewBag.SortColumn=="ServiceId" && ViewBag.SortDirection=="asc")? "desc" : "asc")">
                                        <i class="@(ViewBag.SortColumn=="ServiceId" ? (ViewBag.SortDirection=="asc" ? "fa fa-sort-up" : "fa fa-sort-down") : "fa fa-sort")"></i>
                                    </a>
                                </th>
                                <th class="border-bottom p-3">Patient
                                    <a asp-action="ServiceAppointList" asp-route-sortColumn="PatientName" asp-route-sortDirection="@((ViewBag.SortColumn=="PatientName" && ViewBag.SortDirection=="asc")? "desc" : "asc")">
                                        <i class="@(ViewBag.SortColumn=="PatientName" ? (ViewBag.SortDirection=="asc" ? "fa fa-sort-up" : "fa fa-sort-down") : "fa fa-sort")"></i>
                                    </a>
                                </th>
                                <th class="border-bottom p-3">Service
                                    <a asp-action="ServiceAppointList" asp-route-sortColumn="SpecialtyName" asp-route-sortDirection="@((ViewBag.SortColumn=="SpecialtyName" && ViewBag.SortDirection=="asc")? "desc" : "asc")">
                                        <i class="@(ViewBag.SortColumn=="SpecialtyName" ? (ViewBag.SortDirection=="asc" ? "fa fa-sort-up" : "fa fa-sort-down") : "fa fa-sort")"></i>
                                    </a>
                                </th>
                                <th class="border-bottom p-3">Date
                                    <a asp-action="ServiceAppointList" asp-route-sortColumn="AppointmentDate" asp-route-sortDirection="@((ViewBag.SortColumn=="AppointmentDate" && ViewBag.SortDirection=="asc")? "desc" : "asc")">
                                        <i class="@(ViewBag.SortColumn=="AppointmentDate" ? (ViewBag.SortDirection=="asc" ? "fa fa-sort-up" : "fa fa-sort-down") : "fa fa-sort")"></i>
                                    </a>
                                </th>
                                <th class="border-bottom p-3">Doctor
                                    <a asp-action="ServiceAppointList" asp-route-sortColumn="DoctorName" asp-route-sortDirection="@((ViewBag.SortColumn=="DoctorName" && ViewBag.SortDirection=="asc")? "desc" : "asc")">
                                        <i class="@(ViewBag.SortColumn=="DoctorName" ? (ViewBag.SortDirection=="asc" ? "fa fa-sort-up" : "fa fa-sort-down") : "fa fa-sort")"></i>
                                    </a>
                                </th>
                                <th class="border-bottom p-3">Status</th>
                                <th class="border-bottom p-3">More details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appointment in Model)

                            {
                                <tr>
                                    <th class="p-3">@appointment.AppointmentId</th>
                                    <td class="p-3">@appointment.PatientName</td>
                                    <td class="p-3">@appointment.SpecialtyName</td>
                                    <td class="p-3">@appointment.AppointmentDate.ToString("dd/MM/yyyy")</td>
                                    <td class="p-3">@appointment.DoctorName</td>
                                    <td class="p-3">@appointment.Status</td>
                                    <td class="text-end p-3">
                                        <a asp-area="" asp-controller="Staff" asp-action="ServiceAppointDetail" asp-route-id="@appointment.AppointmentId" type="button" class="btn btn-info">Details</a>
                                    </td>
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Pagination Section -->

        <div class="row text-center">
            <div class="col-12 mt-4">
                <div class="d-md-flex align-items-center text-center justify-content-between">
                    <ul class="pagination justify-content-center mb-0 mt-3 mt-sm-0">
                        @if (ViewBag.PageNumber > 1)



                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ServiceAppointList"
                                   asp-route-gender="@ViewBag.Gender"
                                   asp-route-speciality="@ViewBag.Speciality"
                                   asp-route-sort="@ViewBag.Sort"
                                   asp-route-pageNumber="@(ViewBag.PageNumber - 1)"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= ViewBag.TotalPages; i++)



                        {



                            if (i <= 4 || i == ViewBag.TotalPages || (i == ViewBag.PageNumber - 1) || (i == ViewBag.PageNumber + 1))



                            {
                                <li class="page-item @(ViewBag.PageNumber == i ? "active" : "")">
                                    <a class="page-link" asp-action="ServiceAppointList"
                                       asp-route-gender="@ViewBag.Gender"
                                       asp-route-speciality="@ViewBag.Speciality"
                                       asp-route-sort="@ViewBag.Sort"
                                       asp-route-pageNumber="@i">
                                        @i
                                    </a>
                                </li>
                            }



                            else if (i == 5 && ViewBag.PageNumber > 5)



                            {
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            }



                        }

                        @if (ViewBag.PageNumber < ViewBag.TotalPages)



                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ServiceAppointList"
                                   asp-route-gender="@ViewBag.Gender"
                                   asp-route-speciality="@ViewBag.Speciality"
                                   asp-route-sort="@ViewBag.Sort"
                                   asp-route-pageNumber="@(ViewBag.PageNumber + 1)"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
